[worldserver]

ContentManager.Enable = 1

# Directory where portable .epf packages are dropped.
ContentManager.PatchHoldDirectory = "/home/smithkt/azerothcore-wotlk/patchhold"

# Working directory used while unpacking/building content.
ContentManager.WorkDirectory = "/home/smithkt/azerothcore-wotlk/patchwork"

# Final generated realm patches.
ContentManager.OutputDirectory = "/home/smithkt/azerothcore-wotlk/patches"

#
#    ContentManager.ModuleDirectory
#        Directory containing installed AzerothCore modules.
#        Content Manager searches <module>/content/*.epf for
#        module-provided content packages.
#
#        Default: "../modules"
#

ContentManager.ModuleDirectory = "../modules"
